<nav class="navbar">
    <div class="navbar-container">
      <a routerLink="/comics" class="navbar-brand">
        <img src="assets/marvel-logo.png" alt="Marvel Comics" class="navbar-logo">
      </a>
      <ul class="navbar-menu">
        <li *ngIf="isLoggedIn()">
          <a routerLink="/favorites">Favorites</a>
        </li>
        <li *ngIf="isLoggedIn()">
          <a (click)="logout()">Logout</a>
        </li>
        <li *ngIf="!isLoggedIn()">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="!isLoggedIn()">
          <a routerLink="/register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  