<div class="comics-container">
  <div *ngFor="let comic of comics" class="comic-card">
    <div class="favorite-icon" (click)="toggleFavorite(comic, $event)">
      <i [class.favorited]="comic.isFavorite" class="heart-icon">&#9829;</i>
    </div>
    <div *ngIf="comic.title" (click)="goToComicDetail(comic.id)">
      <img [src]="(comic.thumbnail?.path + '.' + comic.thumbnail?.extension) || 'assets/default-thumbnail.jpg'" alt="{{comic.title}}">
      <h3>{{comic.title}}</h3>
    </div>
  </div>
</div>

<div *ngIf="loading" class="skeleton-container">
  <div class="skeleton" *ngFor="let i of skeletonCountArray">
    <div class="skeleton-image"></div>
    <div class="skeleton-text"></div>
    <div class="skeleton-text short"></div>
  </div>
</div>
